body {
    background-color: #8db9f5;
    background-image: url("#");
    background-attachment: fixed;
    background-position: top center;
    color: #93a7ac;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 1px;
}

.press {
    float: right;
    color: #fff;
}

.background img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#body {
    margin-top: -10px;
    background-color: #fff;
    color: #383838;
}

#social-canvas {}

.social-icon img {
    object-position: center;
    width: 32px;
    margin: auto;
    min-width: 45px;
}

.social-icon img:hover {}

a {
    text-decoration: none;
    color: #0aa1a7;
    margin-right: 5px;
}

.screenshoot {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    min-height: 350px;
    display: table;
    clear: both;
}

.screenshoot img {
    box-shadow: 0px 5px 10px #000;
}

.comunity-buttons {
    background-color: #8db9f5;
    padding: 80px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    max-height: 260px;
    color: #fff;

    border-style: solid;
    border-width: 25px 27px 25px 0px;
    -moz-border-image: url(images/border-white.png) 25 27 25 34 round;
    -webkit-border-image: url(images/border-white.png) 25 27 25 34 round;
    -o-border-image: url(images/border-white.png) 25 27 25 34 round;
    border-image: url(images/border-white.png) 25 27 25 34 fill round;
}

.comunity-buttons a {
    color: #fff;
}

#myDIV {
    display: none;
}

#myDIV a {
    color: #02625e;
}

#info a {
    color: #02625e;
}

.history {
    width: 320px;
}

.history h3 {
    text-align: left;
}

.description {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.img-h {
    width: 110%;
}

footer {
    color: #fff;
    padding: 10px;
    margin-top: 60px;
    min-height: 50px;
    background-color: #000;
    background-image: url(images/back__.png);
    background-attachment: fixed;
    background-position: top center;
    background-size: 800px;
    background-repeat: repeat;

    border-style: solid;
    border-width: 25px 0px 0px 0px;
    -moz-border-image: url(images/border-white.png) 25 27 25 34 round;
    -webkit-border-image: url(images/border-white.png) 25 27 25 34 round;
    -o-border-image: url(images/border-white.png) 25 27 25 34 round;
    border-image: url(images/border-white.png) 25 27 25 34 fill round;
}

footer a {
    color: #fff;
}

.newsletter {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
}

.input {
    min-height: 23px;
}

.button {
    background-color: #fff;
    border: none;
    min-height: 23px;
}


* {
    box-sizing: border-box;
}

.video-background {
    background: #000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
}

.video-foreground,
.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#vidtop-content {
    top: 0;
    color: #fff;
}

.vid-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 33%;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 1rem;
    font-family: Avenir, Helvetica, sans-serif;
}

.vid-info h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0;
    line-height: 1.2;
}

.vid-info a {
    display: block;
    color: #fff;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.5);
    transition: .6s background;
    border-bottom: none;
    margin: 1rem auto;
    text-align: center;
}

@media (min-aspect-ratio: 16/9) {
    .video-foreground {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video-foreground {
        width: 300%;
        left: -100%;
    }
}

@media all and (max-width: 600px) {
    .vid-info {
        width: 50%;
        padding: .5rem;
    }

    .vid-info h1 {
        margin-bottom: .2rem;
    }
}

@media all and (max-width: 500px) {
    .vid-info .acronym {
        display: none;
    }
}
